html {
	margin: 0px;
	padding: 0px;
	border: 0px;
	}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align:justify;
	font-family: sans-serif;
	}


.titlearea {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('img/papertexture.png'); 
	background-repeat: repeat; 
	background-position: left bottom;
	}

.titlearea .languagebar {
/*	background-color: lightgrey;*/
/*	background-color: rgba(255,255,255,0.3);*/
	text-align: right;
	margin: auto;
	max-width: 35em;
/*	padding: 0.5em;*/
/*	border-bottom: 1px solid lightgrey;*/
	opacity: 0.5;
	}

.titlearea .languagebar a:link,
.titlearea .languagebar a,
.titlearea .languagebar a:visited {
	color: black;
	text-decoration: none;
	white-space: nowrap;
}

.titlearea .languagebar a:hover,
.titlearea .languagebar a:active {
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}

.titlearea .maintitle {
	padding: 0.2em 0px 0px 0px;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	}

.titlearea .subtitle {
	text-align: center;
	}

.bottomtitleborder {
	background-image: url('img/paperedge.png'); 
	background-repeat: repeat-x; 
	background-position: left top; 
	height: 66px;	
	}
	
.maincontent {
	padding: 1em;
	}

.maincontent_longtext {
	padding: 1em;
	max-width: 40em;
	margin: auto;
	}
	
.infoblurb {
	max-width: 35em;
	margin: auto;
	padding-bottom: 0.5em;
	}

.mainmenutable {
	text-align: center;
	border: 0px;
	padding: 0px;
	margin: 2em 0px 0px 0px;
	width: 100%;
	}

.mainmenutableleft {
	width: 39%;
	padding: 0.5em;
	text-align: right;
	vertical-align: middle;
	}
.mainmenutableright {
	width: 59%;
	padding: 0.5em;
	text-align: left;
	vertical-align: middle;
	}


a.mainmenulink:link,
a.mainmenulink:visited,
a.mainmenulink:link img,
a.mainmenulink:visited img {
	border-width: 0px;
	color: black;
	font-size: 150%;
	font-weight: bold;
}


/* Stuff for the little privacy/license/e-mail links at the bottom */
	
.horizontalpane {
	float:left;
	width:98%;
	background:#fff;
	margin:0em;
	padding:1%;
	border:0px solid #000;
	}

p.smallnoticetitle,
p.smallnoticetitle a:link,
p.smallnoticetitle a:visited {
	font-size: small;
	text-align: center;
	color: black;
	text-decoration: none;
	border: 0px;
	padding: 0em 0em 0.5em 0em;
	margin: 0px;
	font-weight: bold;
	}

p.smallnotices {
	text-align:center;
	font-size: x-small;
	padding: 0px;
	margin: 0px;
	color: gray;
	}

p.smallnotices a:link,
p.smallnotices a:visited {
	color: gray;
	border: 0px;
	}

p.smallnotices a:link img,
p.smallnotices a:visited img {
	border: 0px;
	}

/* Stuff for handling download links in the download section */

div.centercolumn {
	max-width: 35em;
	margin: auto;
	}

.downloadgroup {
	padding: 0em 0em 1.5em 0em;
	}

div.downloadtitle,
div.downloadtitle a:link,
div.downloadtitle a:visited {
	color: black;
	font-weight: bold;
	font-size: larger;
	}

div.downloadlink {
	padding-top: 10px;
	padding-bottom: 10px; 
	}
	
a.downloadlink, 
a.downloadlink:link,
a.downloadlink:visited {
		padding: 5px;
		border-radius: 5px;
		background-color: #FFA500;
		text-decoration: none;
		font-weight: bold;
		color: #8B0000;
	}


div.codeblock {
	padding: 1em 1em 1em 1em;
	background-color: lightgrey;
	}
div.apiblock {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	}
div.api {
	font-weight: bold;
	padding-left: 0.5em;
	color: darkslategray;
	}
div.apidoc {
	padding-left: 3em;
	}